<div class="container">

    <table class="table table-bordered">
        <thead>
            <tr style="font-size: 15px;">
                <th scope="col">*
                </th>
                <th scope="col">1
                </th>
                <th scope="col">2
                </th>
                <th scope="col">3
                </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">
                1
            </th>
            <td>
                <select (change)="sceltaUtente($any($event.target).value)">
                    <option value=1>
                        X
                    </option>
                    <option value=2>
                        O
                    </option>
                </select>
            </td>
            <td>
                <select (change)="sceltaUtente($any($event.target).value)">
                    <option value=1>
                        X
                    </option>
                    <option value=2>
                        O
                    </option>
                </select>
            </td>
            <td>
                <select (change)="sceltaUtente($any($event.target).value)">
                    <option value=1>
                        X
                    </option>
                    <option value=2>
                        O
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="row">
                2
            </th>
            <td>
                <select (change)="sceltaUtente($any($event.target).value)">
                    <option value=1>
                        X
                    </option>
                    <option value=2>
                        O
                    </option>
                </select>
            </td>
            <td>
                <select (change)="sceltaUtente($any($event.target).value)">
                    <option value=1>
                        X
                    </option>
                    <option value=2>
                        O
                    </option>
                </select>
            </td>
            <td>
                <select (change)="sceltaUtente($any($event.target).value)">
                    <option value=1>
                        X
                    </option>
                    <option value=2>
                        O
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="row">
                3
            </th>
            <td>
                <select (change)="sceltaUtente($any($event.target).value)">
                    <option value=1>
                        X
                    </option>
                    <option value=2>
                        O
                    </option>
                </select>
            </td>
            <td>
                <select (change)="sceltaUtente($any($event.target).value)">
                    <option value=1>
                        X
                    </option>
                    <option value=2>
                        O
                    </option>
                </select>
            </td>
            <td>
                <select (change)="sceltaUtente($any($event.target).value)">
                    <option value=1>
                        X
                    </option>
                    <option value=2>
                        O
                    </option>
                </select>
            </td>
        </tr>
    </tbody>
    </table>

</div>